.filter-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.filter-container input {
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: rgba(128, 128, 128, 0.086);
}

