.compose-btn-container {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 247, 247);
    margin-inline-start: 1rem;
    border-radius: 40px;
    margin-block-start: 0.5rem;
    padding: 0.4rem;
    transition: all 100ms;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.174);
}
.compose-btn-container span {
    margin-inline: 0.5rem;
    font-weight: 600;
}
.compose-btn-container .compose-img {
    max-width: 45px;
}
.compose-btn-container:hover {
    transition: all 200ms;
    background-color: #f4f5f7;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.183);
}

.compose-btn-container:hover span {
    color: rgb(80, 72, 72);
}
.compose-btn-container:hover .compose-img {
    transition: all 200ms;
    filter: invert(22%) sepia(34%) saturate(7160%) hue-rotate(352deg) brightness(74%) contrast(101%);
}

.email-compose-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0 ;
    background-color: rgb(254, 254, 254);
    min-width: 500px;
    min-height: 350px;
    border-radius: 20px;
    padding: 0 1rem 1rem 1rem;
    outline: 1px solid rgba(0, 0, 0, 0.139);
    box-shadow: 0 2.5px 10px rgba(0, 0, 0, 0.174);
    z-index: 1;

}

.compose-header {
    font-size: 1.5rem;
    height: 50px;
    border-radius: 0 0 15px 15px;
    background-color: rgb(79, 75, 75);
    color: whitesmoke;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
}


.compose-body {
    display: flex;
    justify-content: center;
    margin-block-start: 1rem;
}

.compose-body form > * {
    margin-block: 1rem;
}

.compose-body input {
    margin-inline-start: 0.5rem;
    border-radius: 3px;
}

.compose-body textarea {
    border: none;
    outline: 0.5px solid rgba(0, 0, 0, 0.388);
    border-radius: 5px;
    font-size: 1.2rem;
}

.compose-body textarea:focus {
    outline: 3px solid rgba(33, 31, 31, 0.123);
}

.compose-body input {
    width: 100%;
}

.submit-btn {
    font-size: 1.2rem;
    float: right;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    outline: 0.5px solid rgba(0, 0, 0, 0.192);
    cursor: pointer;
    transition: all 200ms;
}

.submit-btn:hover {
    transition: all 200ms;
    background-color: rgb(79, 75, 75);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.174);
    color:rgb(247, 247, 247)
}

.close-btn {
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    color: whitesmoke;
    cursor: pointer;
}
.email-app-container .compose-btn-container span {
    margin-block-start: 8px;
}