.email-prev-container {
    display: flex;
    align-items: center;
    user-select: none;
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.205);
    transition: all  200ms;
    font-size: 0.9rem;
}
.email-prev-container p {
    margin: 0;
}

.email-prev-container:hover {
    transition: all  200ms;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.174);
    background-color: rgba(250, 246, 243, 0.768);
}
.email-prev-container:hover .trash-icon {
    transition: 200ms all;
    opacity: 1;
    pointer-events: all;
}

.email-prev-body {
    flex-basis: 65%;
    display: flex;
    justify-content: flex-start;
    margin-block-start: 0.2rem;
    margin-inline-start: 1.2rem;
}

.sliced-body {
    margin-inline-start: 1rem;
    color: rgb(120, 118, 118);
}
.email-prev-header {
    display: flex;
    align-items: center;
    flex-basis: 15%;

}
.email-prev-header .from {
    text-transform: capitalize;
    margin-inline-start: 0.5rem;
    margin-block-start: 0.3rem;
}
.star-container, .trash-container, .read-container {
    min-height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
}
.star-icon, .trash-icon, .read-icon {
    max-height: 20px;
    transition: all 100ms;
}
.trash-icon {
    opacity: 0;
    pointer-events: none;
    transition: all 200ms;
}

.star-icon:hover {
    transition: all 100ms;
    filter: invert(75%) sepia(93%) saturate(729%) hue-rotate(325deg) brightness(105%) contrast(101%);
}

.read-icon:hover {
    filter: invert(7%) sepia(6%) saturate(6829%) hue-rotate(295deg) brightness(106%) contrast(103%);

}
.star-container:hover, .trash-container:hover, .read-container:hover, .send-icon-container:hover {
    background-color: rgba(188, 188, 188, 0.817);
    border-radius: 50%;
    transition: all 200ms;
}
.email-prev-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
}
.email-prev-footer .email-time {
    margin-block-start: 0.5rem;
    margin-inline: 0.5rem;
    min-width: 30px;
}
.email-prev-footer .trash-icon:hover {
    transition: all 100ms;
    filter: invert(15%) sepia(15%) saturate(6594%) hue-rotate(336deg) brightness(113%) contrast(124%);
}
ul a {
    text-decoration: none;
    color: black;
}

.star-icon.starred {
    filter: invert(75%) sepia(93%) saturate(729%) hue-rotate(325deg) brightness(105%) contrast(101%);
}
li.starred, li.read.starred {
    color: rgb(166, 145, 27);
    font-weight: 700;
}
